.advantages {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 30px 0;
  margin-bottom: 23px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.advantages__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 28px 0 0 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0;
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $title-color;
}

.advantages__icon {
  margin-bottom: 18px;
  margin-left: 7px;
}

.advantages__item--flower {
  order: 1;
  width: 197px;
}

.advantages__item--money {
  order: 2;
  width: 220px;

  & .advantages__icon {
    margin-left: 0;
  }
}

.advantages__item--heart {
  order: 3;
  width: 205px;
  margin-bottom: 30px;
}

.advantages__item--ball {
  order: 4;
  width: 255px;

  & .advantages__icon {
    margin-left: 5px;
    margin-bottom: 14px;
  }
}

.advantages__item--rocket {
  order: 5;
  width: 250px;

  & .advantages__icon {
    margin-left: -6px;
  }
}

.advantages__item--present {
  order: 6;
  width: 250px;

  & .advantages__icon {
    margin-left: 3px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
    padding: 0 50px;
    margin: 48px auto 23px;
    box-sizing: border-box;
  }

  .advantages__title {
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 47px;
  }

  .advantages__item {
    width: 334px;
    padding-right: 40px;
    margin-bottom: 57px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    box-sizing: border-box;
  }

  .advantages__icon {
    margin-left: 9px;
  }

  .advantages__item--flower {
    order: 1;
    width: 270px;
    margin-right: 64px;

    & .advantages__icon {
      margin-top: 0;
    }
  }

  .advantages__item--money {
    order: 3;
    width: 300px;
    margin-right: 34px;

    & .advantages__icon {
      margin-top: -3px;
    }
  }

  .advantages__item--heart {
    order: 5;
    width: 280px;
    margin-right: 54px;
  }

  .advantages__item--ball {
    order: 2;

    & .advantages__icon {
      margin-bottom: 14px;
      margin-top: 4px;
    }
  }

  .advantages__item--rocket {
    order: 4;

    & .advantages__icon {
      margin-top: -2px;
    }
  }

  .advantages__item--present {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 705px;
    padding: 0;
    margin: 57px auto 30px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }

  .advantages__item {
    width: 50%;
  }

  .advantages__item--flower {
    order: 1;
    width: 270px;
    margin-right: 80px;
  }

  .advantages__item--money {
    order: 3;
    width: 300px;
    margin-right: 51px;
  }

  .advantages__item--heart {
    order: 5;
    width: 280px;
    margin-right: 72px;
  }

  .advantages__item--ball {
    order: 2;
    width: 340px;
  }

  .advantages__item--rocket {
    order: 4;
  }

  .advantages__item--present {
    order: 6;
    width: 330px;
  }
}
