.colors {
  position: relative;
  padding: 0;
  margin: 0 0 23px;
  border: 0;
}

.colors__title {
  position: relative;
  margin-top: 3px;
  margin-right: 30px;
  margin-bottom: 38px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 62px;
    top: 8px;
    width: 198px;
    height: 1px;
    background: $type-title-color;
  }
}

.colors__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.colors__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.colors__input:checked + .colors__label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 38px;
  height: 38px;
  background-image: url("../img/icon/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.colors__label {
  position: relative;
  display: block;
  padding-left: 65px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $title-color;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $title-color;
  }

  &:hover::before {
    border-color: #56c3b2;
  }

  &:focus::before {
    border-color: #c7c7c7;
  }
}

@media (min-width: $tablet-width) {
  .colors {
    margin-bottom: 0;
    background: $form-bg;
  }

  .colors__title {
    position: absolute;
    top: 65px;
    left: 52px;

    &::before {
      width: 0;
    }
  }

  .colors__list {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 67px 50px;
    padding-left: 209px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .colors__item {
    width: 50%;
    margin-bottom: 58px;

    &:nth-child(2n+2) .colors__label {
      padding-left: 92px;
    }

    &:nth-child(2n+2) .colors__label::before {
      left: 11px;
    }

    &:nth-child(5) {
      margin-bottom: 0;
    }

    &:nth-child(6) {
      margin-bottom: 0;
    }
  }

  .colors__input:checked + .colors__label::before {
    left: 11px;
    width: 51px;
    height: 48px;
  }

  .colors__label {
    padding-left: 84px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;

    &::before {
      left: 11px;
      width: 51px;
      height: 48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .colors {
    margin-bottom: 0;
    background: $form-bg;
  }

  .colors__wrapper {
    position: relative;
    width: 1150px;
    margin: 0 auto;
  }

  .colors__item {
    width: 30%;
  }

  .colors__item:nth-child(2n+2) .colors__label::before {
    left: 5px;
  }

  .colors__item:nth-child(2n+2) .colors__label {
    padding-left: 81px;
  }

  .colors__list {
    width: 1150px;
    margin: 0 auto;
    padding: 65px 50px 10px;
    box-sizing: border-box;
    padding-left: 222px;
  }

  .colors__title {
    position: absolute;
    top: 64px;
    left: 110px;
  }

  .colors__input:checked + .colors__label::before {
    left: 5px;
  }

  .colors__label {
    &::before {
      left: 5px;
    }
  }
}
