.comment {
  padding: 0;
  margin: 0 0 16px;
  border: 0;
}

.comment__wrapper {
  display: flex;
  flex-direction: column;
}

.comment__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 80px;
    top: 8px;
    width: 180px;
    height: 1px;
    background: $type-title-color;
  }
}

.comment__textarea {
  min-height: 108px;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: lighten($text-color, 30%);
  resize: none;
  border: 2px solid $title-color;
  outline: none;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  &::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    color: lighten($text-color, 30%);
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder,
  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    position: relative;
    width: $tablet-width;
    padding: 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .comment__title {
    position: absolute;
    top: 69px;
    left: 48px;

    &::before {
      width: 0;
    }
  }

  .comment__wrapper {
    margin-left: 165px;
  }

  .comment__textarea {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 36px;
    box-sizing: border-box;
  }

  .comment__wrapper {
    width: 700px;
    margin-left: 175px;
  }

  .comment__title {
    position: absolute;
    top: 67px;
    left: 113px;
  }
}
