.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
}

.contacts__title {
  margin: 0;
  padding-left: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $x-color-black;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin: 28px 0 8px;
  list-style: none;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 28px;
}

.contacts__icon {
  display: none;
}

.contacts__link {
  padding-bottom: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-border;
  box-sizing: border-box;

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;
    opacity: 0.1;
  }
}

.contacts__name {
  margin: 0 30px 0 0;
}

.contacts__address {
  max-width: 145px;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $address-color;

  span {
    display: block;
  }
}

.contacts__map {
  min-height: 457px;
  width: 100%;
  margin-bottom: 38px;
  background-color: #dddddd;
  background-image: url("../img/map-mobile@1x.jpg");
}

.contacts__button {
  padding: 14px 50px;
  margin: 0 30px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:focus {
    color: #8d8d8d;
    background-color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    padding: 0;
    margin: 0 auto 56px;
    box-sizing: border-box;
  }

  .contacts__wrapper {
    padding-top: 62px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 50px;
    padding-left: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__icon {
    display: block;
    position: absolute;
    top: -15px;
    right: 54px;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
    margin: 0;
    margin-bottom: 25px;
  }

  .contacts__item {
    margin-right: 25px;

    &last-child {
      margin-right: 0;
    }
  }

  .contacts__name {
    margin-right: 24px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }

  .contacts__link {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }

  .contacts__address {
    max-width: 233px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .contacts__map {
    margin-bottom: 56px;
  }

  .contacts__button {
    align-self: center;
    margin: 0 30px 0;
    padding: 14px 34px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1050px;
    padding: 70px 0 0;
    padding-left: 175px;
    margin: 0 auto 105px;
  }

  .contacts__title {
    position: relative;
    width: 100%;
    padding-left: 0;
    margin-top: 71px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__icon {
    position: absolute;
    top: -9px;
    left: -112px;
  }

  .contacts__wrapper {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .contacts__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 350px;
    padding-left: 0;
    box-sizing: border-box;
  }

  .contacts__name {
    margin-right: 16px;
  }

  .contacts__map {
    width: 525px;
    margin-top: -176px;
    margin-bottom: 0;
  }

  .contacts__button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
