.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 12px 30px 0 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $copyright-color;
}

.copyright__pic {
  fill: $copyright-pic;

  &:hover {
    fill: #46c1ae;
  }

  &:focus {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.copyright__link {
  display: block;
  margin-top: 21px;
}
