.email {
  padding: 0;
  border: 0;
}

.email__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
}

.email__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 90px;
    top: 8px;
    width: 175px;
    height: 1px;
    background: $type-title-color;
  }
}

.email__icon {
  position: absolute;
  right: 3px;
  top: 33px;
  fill: #cccccc;
}

.email__input {
  position: relative;
  padding-bottom: 15px;
  margin-left: -2px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  color: $text-color;
  background-color: transparent;
  border: none;

  border-bottom: 2px solid $title-color;
  border-radius: 0;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    color: lighten($text-color, 30%);
  }

  &:focus::-webkit-input-placeholder,
  &:focus:-moz-placeholder,
  &:focus::-moz-placeholder,
  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:hover + .email__icon {
    fill: #62d1ba;
  }

  &:focus + .email__icon {
    fill: #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .email {
    position: relative;
    margin-bottom: 0;
  }

  .email__icon {
    position: absolute;
    right: 24px;
    top: 4px;
  }

  .email__title {
    position: absolute;
    top: 10px;
    left: -164px;

    &::before {
      width: 0;
    }
  }

  .email__wrapper {
    margin-left: 165px;
    margin-bottom: 0;
  }

  .email__input {
    padding-left: 20px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .email {
    padding: 0;
  }

  .email__wrapper {
    width: 700px;
    margin-left: 175px;
  }

  .email__title {
    position: absolute;
    top: 9px;
    left: -115px;
  }

  .email__icon {
    right: 7px;
  }
}
