.form-order {
  display: flex;
  flex-direction: column;
  margin: 0 30px 55px;
}

.form-order__caption {
  max-width: 700px;
  margin: 0 auto;
  padding: 23px 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
}

.form-order__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-order__item {
  display: flex;
  flex-direction: column;
}

.form-order__button {
  padding: 14px 40px;
}

.form-order__subtext {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .form-order {
    padding: 69px 0 0;
    margin: 0 auto 32px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .form-order__caption {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }

  .form-order__item {
    padding: 0 50px;

    &:nth-child(2) {
      padding: 0;
    }

    &:nth-child(3) {
      padding: 0;
    }
  }

  .form-order__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .form-order__subtext {
    order: 2;
    width: 50%;
    padding: 0;
    margin-top: 13px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    text-align: right;
  }

  .form-order__button {
    order: 1;
    width: auto;
    padding: 16px 30px;
    margin: 0;
    margin-top: -11px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;

    &:hover {
      color: #ffffff;
      background-color: #444444;
    }

    &:focus {
      color: #8d8d8d;
      background-color: #444444;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-order {
    padding: 120px 0 0;
    margin: 0 auto 32px;
  }

  .form-order__caption {
    width: 700px;
    padding-left: 55px;
  }

  .form-order__inner {
    width: 700px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .form-order__subtext {
    order: 2;
    width: 50%;
    padding: 0;
    padding-top: 5px;
    margin-top: 15px;
    text-align: right;
  }

  .form-order__button {
    order: 1;
    width: auto;
    padding: 16px 30px;
    margin: 0;
  }
}
