.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 285px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: #dddddd;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: cover;
  }
}

.promo__title {
  width: 100%;
  margin: 0;
  margin-top: 70px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
  text-align: center;

  span {
    display: block;
  }
}

.promo__inner {
  position: absolute;
  bottom: -203px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promo__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 25px 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: $promo-link-color;
  background: $promo-link-bg;
  text-decoration: none;

  &:last-child {
    background-color: $promo-link-bg-dark;
  }
}

.promo__icon {
  opacity: 0.3;
}

.promo__name {
  max-width: 49%;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    justify-content: flex-start;
    width: $tablet-width;
    min-height: 740px;
    padding: 0 50px;
    margin: -90px auto 0;
    z-index: -1;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -35px;
      z-index: 1;
      height: 50px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .promo__inner {
    bottom: 0;
    left: 50px;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .promo__title {
    max-width: 500px;
    margin-top: 150px;
    font-size: 43px;
    line-height: 50px;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .promo__link {
    flex-grow: 1;
    width: 50%;
    padding: 27px 34px;
    font-size: 18px;
    line-height: 30px;

    &--interior::before {
      top: 26px;
      right: 35px;
    }

    &--toy::before {
      top: 30px;
      right: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1150px;
    padding: 0 50px;
    z-index: -1;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: cover;
    box-sizing: border-box;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .promo__inner {
    flex-direction: row;
    width: 1050px;
    margin: 0 auto;
  }

  .promo__title {
    max-width: 625px;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__link {
    flex-grow: 1;
  }

  .promo__name {
    max-width: 195px;
  }
}
