.reviews {
  position: relative;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -72px;
    z-index: 10;
    height: 8px;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-position-x: -9px;
    background-size: contain;
  }
}

.reviews__wrapper {
  padding: 0 30px 0;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.reviews__item {
  display: none;
  margin: 0 0 28px 0;

  &--active {
    display: block;
  }
}

.reviews__text {
  margin: 25px 0 27px;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
  box-sizing: border-box;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;
  font-style: normal;
}

.reviews__author-nickname {
  display: block;
  margin-top: 3px;
  font-weight: 400;
  line-height: 30px;
  color: $reviews-name-color;
}

.reviews__inner {
  display: flex;
  margin-bottom: 38px;
}

.reviews__prev {
  padding: 13px 39px 10px;
  border: 1px solid $reviews-border-color;

  &:hover svg {
    fill: #666666;
  }

  &:focus svg {
    fill: #b2b2b2;
  }
}

.reviews__next {
  padding: 10px 39px;
  border: 1px solid $reviews-border-color;

  &:hover svg {
    fill: #666666;
  }

  &:focus svg {
    fill: #b2b2b2;
  }
}

.reviews__button {
  padding: 13px 78px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:focus {
    color: #8d8d8d;
    background-color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto 128px;
    box-sizing: border-box;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 350px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -138px;
      z-index: 10;
      height: 15px;
      width: 100%;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-position-x: -15px;
      background-size: contain;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: auto 100%;
      background-size: 350px;
    }
  }

  .reviews__wrapper {
    position: relative;
    padding: 77px 0 0;
  }

  .reviews__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    margin: 49px 0 60px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }

  .reviews__button {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 14px 38px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }

  .reviews__inner {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-bottom: 0;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__author-nickname {
    font-size: 18px;
  }

  .reviews__prev {
    padding: 10px 17px;
    border: none;
  }

  .reviews__next {
    padding: 10px 17px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    width: 1050px;
    padding: 0 50px 70px;
    margin: 0 auto 85px;

    &::before {
      content: "";
      position: absolute;
      left: 27px;
      bottom: -90px;
      z-index: 10;
      height: 20px;
      width: 98%;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-size: contain;
      background-position-x: 9px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__wrapper {
    padding: 70px 55px 0 124px;
  }

  .reviews__text {
    margin: 49px 0 38px;
  }

  .reviews__button {
    right: -50px;
  }

  .reviews__inner {
    right: -47px;
  }
}
