.reviews__wrapper {
  padding: 0 30px 40px;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.reviews__item {
  display: none;
  margin: 0 0 35px 0;
}

.reviews__item--active {
  display: block;
}

.reviews__text {
  margin: 35px 0 70px;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;
  font-style: normal;
}

.reviews__author-nickname {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $reviews-name-color;
}

.reviews__inner {
  display: flex;
  margin-bottom: 40px;
}

.reviews__prev {
  padding: 10px 40px;
  border: 1px solid $reviews-border-color;
}

.reviews__next {
  padding: 10px 40px;
  border: 1px solid $reviews-border-color;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto 70px;
    box-sizing: border-box;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: contain;
  }

  .reviews__wrapper {
    position: relative;
    padding: 115px 0 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__button {
    position: absolute;
    top: 115px;
    right: 0;
    padding: 20px 40px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }

  .reviews__inner {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .reviews__slider {
    padding-bottom: 60px;
  }

  .reviews__prev {
    border: none;
    padding: 10px 17px;
  }

  .reviews__next {
    border: none;
    padding: 10px 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto 70px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__wrapper {
    padding: 115px 0 0 175px;
  }
}
