.telephone {
  padding: 0;
  margin: 0 0 31px;
  border: 0;
}

.telephone__wrapper {
  display: flex;
  flex-direction: column;
}

.telephone__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 70px;
    top: 8px;
    width: 180px;
    height: 1px;
    background: $type-title-color;
  }
}

.telephone__input {
  position: relative;
  padding-bottom: 19px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 95% 0;

  border-bottom: 2px solid $title-color;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
  }
}

.telephone__input::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
  color: lighten($text-color, 30%);
}

.telephone__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.telephone__input:focus:-moz-placeholder,
.telephone__input:focus::-moz-placeholder {
  color: transparent;
}

.telephone__input:focus:-ms-input-placeholder {
  color: transparent;
}

@media (min-width: $tablet-width) {
  .telephone {
    position: relative;
    margin-bottom: 33px;
  }

  .telephone__title {
    position: absolute;
    top: 13px;

    &::before {
      width: 0;
    }
  }

  .telephone__wrapper {
    margin-left: 165px;
    margin-top: 7px;
  }

  .telephone__input {
    padding-left: 20px;
    padding-bottom: 11px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .telephone__wrapper {
    width: 700px;
    margin-left: 175px;
  }

  .telephone__title {
    position: absolute;
    top: 13px;
    left: 61px;
  }
}
