.telephone {
  padding: 0;
  margin: 0 0 31px;
  border: 0;
}

.telephone__wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $title-color;
}

.telephone__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 70px;
    top: 8px;
    width: 180px;
    height: 1px;
    background: $type-title-color;
  }
}

.telephone__input {
  position: relative;
  padding-bottom: 19px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  opacity: 0.3;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 95% 0;
}

@media (min-width: $tablet-width) {
  .telephone__title {
    position: absolute;

    &::before {
      width: 0;
    }
  }

  .telephone__wrapper {
    margin-left: 165px;
  }
}

@media (min-width: $desktop-width) {
  .telephone__wrapper {
    width: 700px;
    margin-left: 175px;
  }
}
