.telephone {
  padding: 0;
  border: 0;
}

.telephone__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 31px;
}

.telephone__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 65px;
    top: 8px;
    width: 200px;
    height: 1px;
    background: $type-title-color;
  }
}

.telephone__icon {
  position: absolute;
  z-index: 10;
  right: 7px;
  top: 35px;
  fill: #cccccc;
}

.telephone__input {
  position: relative;
  padding-bottom: 19px;
  margin-left: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: $text-color;
  border: none;
  background-color: transparent;

  border-bottom: 2px solid $title-color;
  border-radius: 0;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    color: lighten($text-color, 30%);
  }

  &:focus::-webkit-input-placeholder,
  &:focus:-moz-placeholder,
  &:focus::-moz-placeholder,
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

.telephone__input:hover + .telephone__icon {
  fill: #62d1ba;
}

.telephone__input:focus + .telephone__icon {
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .telephone {
    position: relative;
    margin-bottom: 33px;
  }

  .telephone__icon {
    position: absolute;
    right: 24px;
    top: 0;
  }

  .telephone__title {
    position: absolute;
    top: 7px;
    left: -162px;

    &::before {
      width: 0;
    }
  }

  .telephone__wrapper {
    margin-left: 165px;
    margin-top: 7px;
    margin-bottom: 24px;
  }

  .telephone__input {
    padding-left: 20px;
    padding-bottom: 13px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .telephone__wrapper {
    width: 700px;
    margin-left: 175px;
    margin-top: 4px;
    margin-bottom: 26px;
  }

  .telephone__title {
    position: absolute;
    top: 9px;
    left: -114px;
  }

  .telephone__icon {
    right: 10px;
    top: 4px;
  }

  .telephone__input {
    padding-bottom: 14px;
  }
}
