.user {
  padding: 0;
  margin: 0 0 31px;
  border: 0;
}

.user__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 70px;
    top: 8px;
    width: 180px;
    height: 1px;
    background: $type-title-color;
  }
}

.user__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user__border {
  display: block;
  width: 100%;
  border-bottom: 2px solid $title-color;
}

.user__label {
  display: block;
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $title-color;
}

.user__input {
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  opacity: 0.3;
  border: none;
}

@media (min-width: $tablet-width) {
  .user {
    width: $tablet-width;
    padding: 66px 50px 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .user__title {
    position: absolute;

    &::before {
      width: 0;
    }
  }

  .user__list {
    padding-left: 167px;
  }

  .user__item {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .user__label {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
  }

  .user__border {
    margin-left: 27px;
    margin-top: -6px;
  }

  .user__input {
    padding-bottom: 13px;
    padding-left: 14px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .user {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .user__list {
    width: 700px;
    padding-left: 175px;
  }

  .user__phone-email {
    padding: 0 50px;
  }

  .user__title {
    position: absolute;
    left: 160px;
  }
}
