.user {
  padding: 0;
  margin: 0 0 31px;
  border: 0;
}

.user__title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 29px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $type-title-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 65px;
    top: 8px;
    width: 200px;
    height: 1px;
    background: $type-title-color;
  }
}

.user__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user__border {
  display: block;
  width: 100%;
}

.user__label {
  display: block;
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $title-color;
}

.user__input {
  width: 100%;
  padding-bottom: 16px;
  margin-left: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: $text-color;
  border: none;
  border-bottom: 2px solid $title-color;
  border-radius: 0;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    color: lighten($text-color, 30%);
  }

  &:focus::-webkit-input-placeholder,
  &:focus:-moz-placeholder,
  &:focus::-moz-placeholder,
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .user {
    width: $tablet-width;
    padding: 65px 50px 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .user__title {
    position: absolute;
    margin-top: 2px;

    &::before {
      width: 0;
    }
  }

  .user__list {
    padding-left: 167px;
  }

  .user__item {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 37px;
  }

  .user__label {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
  }

  .user__border {
    margin-left: 27px;
    margin-top: 0;
  }

  .user__input {
    width: 96%;
    margin-left: 1px;
    padding-bottom: 17px;
    padding-left: 14px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .user {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .user__wrapper {
    position: relative;
    width: $desktop-width;
    margin: 0 auto;
  }

  .user__list {
    width: 700px;
    padding-left: 175px;
  }

  .user__item {
    margin-bottom: 38px;
  }

  .user__phone-email {
    padding: 0 50px;
  }

  .user__title {
    position: absolute;
    left: 62px;
  }

  .user__input {
    width: 97%;
    margin-left: 0;
    padding-bottom: 16px;
  }
}
