.video {
  display: flex;
  flex-direction: column;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px;
  border: 1px solid $video-border-color;
}

.video__title {
  order: 1;
  position: relative;
  margin: 30px;
  padding-left: 50px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.video__pic {
  order: 2;
  min-height: 150px;
  margin-bottom: 30px;
}

.video__text {
  order: 3;
  padding: 0 30px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
}

.video__button {
  order: 4;
  padding: 20px 25px;
  margin: 30px;
}

@media (min-width: $tablet-width) {
  .video {
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto 65px;
    box-sizing: border-box;
  }

  .video__wrapper {
    margin: 0;
  }

  .video__title {
    order: 2;
    margin: 30px 45px 30px 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .video__pic {
    order: 1;
    min-height: 455px;
  }

  .video__text {
    padding: 0 45px 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__button {
    margin: 30px 45px 50px 40px;
    font-size: 17px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;
    align-items: flex-end;
    width: 1150px;
    min-height: 455px;
    padding: 0 50px;
    margin: 0 auto 105px;
  }

  .video__wrapper {
    width: 370px;
    min-height: 454px;
  }

  .video__title {
    padding: 50px 50px 0 0;
    margin-left: 85px;
  }

  .video__text {
    padding-left: 85px;
  }

  .video__pic {
    position: absolute;
    top: 0;
    left: 50px;
    width: 680px;
    min-height: 455px;
    border: 1px solid $video-border-color;
  }

  .video__button {
    margin-left: 83px;
  }
}
