.week-product {
  position: relative;
  margin-top: 195px;
  margin-bottom: 30px;
  padding: 0 30px;
}

.week-product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.week-product__mark {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $week-product-mark;
}

.week-product__text {
  margin: 30px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $week-product-text;
}

.week-product__pic {
  width: 100%;
}

.week-product__table {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $week-product-text;
  border-collapse: collapse;
}

.week-product__row {
  border-bottom: 2px solid $week-product-border;

  &:last-child {
    border-bottom: 2px solid transparent;
  }
}

.week-product__value {
  padding: 10px 0 10px 10px;
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $week-product-text;
  text-align: center;
}

.week-product__button {
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .week-product {
    width: $tablet-width;
    padding: 0 50px;
    margin: 60px auto 30px;
    box-sizing: border-box;
  }

  .week-product__mark {
    position: absolute;
    right: 75px;
    top: 10px;
    width: 75px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .week-product__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
  }

  .week-product__wrapper {
    width: 334px;
    padding-right: 40px;
    margin-bottom: 55px;
    box-sizing: border-box;
  }

  .week-product__pic {
    position: absolute;
    right: 50px;
    top: 90px;
    width: 334px;
    height: 380px;
  }

  .week-product__text {
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__price {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    width: 1150px;
    padding: 0 50px 0 175px;
    margin: 135px auto 30px;
    box-sizing: border-box;
  }

  .week-product__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }

  .week-product__mark {
    left: 50px;
  }

  .week-product__pic {
    top: -70px;
    z-index: -1;
    width: 525px;
    height: 635px;
  }

  .week-product__table {
    margin-bottom: 115px;
  }
}
